{% extends "base.html" %} {% block title %}วงนอก{% endblock %}
{% block content%}
</br></br></br></br>

<h1 align="center">สูตรอาหาร</h1>

</br></br>
<!-- ----------------- -->
<!-- Search Zone -->
<div style="display: flex; justify-content:center;">
  <form class="body-content row g-2" method="POST">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <input type="text" class="form-control" id="search_term" name="search_term" placeholder="ค้นหาสูตรอาหาร">
        </div>
        <div class="col-md-4 col-lg-4 order-md-last">
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>
</br></br></br></br>
<!-- ---------- -->

{% for n in food_dmm %}
<div class="container text-center border-bottom">
  <div class="row">
    <div class="col-6">
      <p class="pb-0 mb-0 small lh-sm">
      <img class="card-img-top" src={{ n.food_image_path }} alt="Card image cap">
    </p>
    </div>
    <div class="col-6">
      <h3 class="display-5 fw-bold" align="left">&nbsp;&nbsp;&nbsp;{{n.food_name}}</h3>
      <ul class="list-group list-group-flush" align="left">
        
        <li class="list-group-item">
          <p class="pb-0 mb-0 small lh-sm">
            <strong class="d-block text-gray-dark">วัตถุดิบ</strong>
            {{n.food_raw}}
          </p>
        </li>

        <li class="list-group-item">
          <p class="pb-0 mb-0 small lh-sm">
            <strong class="d-block text-gray-dark">ขั้นตอน</strong>
            {{n.food_step}}
          </p>
        </li>

        <li class="list-group-item">
          <p class="pb-0 mb-0 small lh-sm">
            <strong class="d-block text-gray-dark">ระยะเวลา</strong>
            {{ n.food_time}}
          </p>
        </li>

        <li class="list-group-item">
          <p class="pb-0 mb-0 small lh-sm">
            <strong class="d-block text-gray-dark">ความยากง่ายของสูตร</strong>
            {{n.difficult_level}} 
          </p>
        </li>
       
        <li class="list-group-item">
          {% if Find_username(n.user_id) %}
          <p class="pb-0 mb-0 small lh-sm ">
            <strong class="d-block text-gray-dark">ผู้เขียน </strong>
            {{ Find_username(n.user_id) }}
          </p>
          {% endif %}
        </li>
        <li class="list-group-item">
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    
    <div class="col-6">
      <div style="display: flex; justify-content: left;">
        <li class="list-group-item"> 
        <p class="h6 order-md-last"> <code> <b>ได้รับ</b> {{ Count_rating(n.id) }} คะแนน</code></p>
      </li>
      </div>
      <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    </div>
    <div class="col-6">
       <!-- Rating view -->
    
      <!-- <li class="list-group-item">
  
      </li> -->
    </div>
  </div>
</br></br>
</div>
</br></br></br></br>

{% endfor %}

<!-- ----------------- -->


{% endblock %}