{% extends "base.html" %} {% block title %}วงนอก{% endblock %}
{% block content%}
</br>
<h3 align="center">สูตรอาหาร</h3>

</br>

<div style="display: flex; justify-content:center;">
  <form class="body-content row g-2" method="POST">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <input type="text" class="form-control" id="search_term" name="search_term" placeholder="ค้นหาสูตรอาหาร">
        </div>
        <div class="col-md-4 col-lg-4 order-md-last">
          <button type="submit" class="btn btn-success">Search</button>
        </div>
      </div>
    </div>
  </form>
</div>



</br>


{% for n in food_dmm %}
<div class="manu_block" align="center">
  <div class="card" style="width: 30rem;">

    <img class="card-img-top" src={{ n.food_image_path }} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{n.food_name}}</h5>
    </div>
    <ul class="list-group list-group-flush" align="left">
      <li class="list-group-item"><b>วัตถุดิบ: </b>{{n.food_raw}} </li>
      <li class="list-group-item"><b>ขั้นตอน: </b>{{n.food_step}} </li>
      <li class="list-group-item"><b>ระยะเวลา: </b>{{ n.food_time}} </li>
      <li class="list-group-item"><b>ความยากง่ายของสูตร: </b>{{n.difficult_level}} </li>


      <!-- Rating button form -->
      <li class="list-group-item">
        <div style="display: flex; justify-content: left;">

          <p class="h6 order-md-last"> <code> <b>Rating : </b> {{ Count_rating(n.id) }} คะแนน</code></p>

        </div>
      </li>
      <li class="list-group-item">

        {% if Find_username(n.user_id) %}
        <b>ผู้เขียน : </b> {{ Find_username(n.user_id) }}
        {% endif %}
      </li>
    </ul>

  </div>
  </br>

</div>
<hr width="100%" color="green" size="50px" align="center" />
</br>


</div>
{% endfor %}
</br>


{% endblock %}