{% extends "base.html" %} {% block title %}วงนอก{% endblock %} 
{% block content%}
</br>
<h3 align="center">สูตรอาหาร</h3>

</br>
<form class="body-content row g-2" method="POST">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <input type="text" class="form-control" id="search_term" name="search_term" placeholder="ค้นหาสูตรอาหาร">
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
      </div>
    </div>
  </div>
</form>

</br>
{% for n in food_dmm %}
<div class="card" style="width: 50rem;">
  
  <img class="card-img-top" src= {{ n.food_image_path }} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{n.food_name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">วัตถุดิบ: {{n.food_raw}} </li>
    <li class="list-group-item">ขั้นตอน: {{n.food_step}} </li>
    <li class="list-group-item">ระยะเวลา:{{ n.food_time}} </li>
    <li class="list-group-item">ความยากง่ายของสูตร: {{n.difficult_level}} </li>
  </ul>
  <h7 align="center"> ความพึงพอใจ </h7>
  <div class="btn-group" role="group" aria-label="Basic example">
    
    <button type="button" class="btn btn-secondary">พอใช้</button>
    <button type="button" class="btn btn-secondary">ปานกลาง</button>
    <button type="button" class="btn btn-secondary">ดีมาก</button>
  </div>
</br>
  <!-- Delete button form -->
  <form method="POST" action="/delete_food/{{ n.id }}">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</br>

<hr width="100%" color="green" size="50px" align="center" />
</br> 
</div>
  
</div>
{% endfor %}
</br>


      {% endblock %}
