{% extends "base.html" %} {% block title %}วงนอก{% endblock %} 
{% block content%}



</br>
<h3 align="center">สูตรอาหาร</h3>


</br>
<form class="body-content row g-2" method="POST">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <!-- <div class="col-auto"> -->
          <!-- <label for="inputPassword2" class="visually-hidden">Password</label> -->
          <input type="text" class="form-control" id="search_term" name="search_term" placeholder="ค้นหาสูตรอาหาร">
        <!-- </div> -->
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary mb-3">Search</button>
      </div>
    </div>
  </div>
</form>


</br>
<ul class="list-group list-group-flush" id="notes">
  {% for n in note_dmm %}
  <li class="list-group-item">
    {% print(n.data) %}
    </button>
  </li>
  {% endfor %}
</ul>


      {% endblock %}
