{% extends "base.html" %} {% block title %}วงนอก Wongnok (admin){% endblock %}

{% block content%}
<br />
<h3 align="center">ลบสูตรอาหาร</h3>
<ul class="list-group list-group-flush" id="notes">
  {% for n in note_dmm %}
  <li class="list-group-item">
    {% print(n.data) %}
    <button type="button" class="close" onClick="deleteNote({{ n.data }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">บันทึก</button>
  </div>
</form>
      {% endblock %}
